<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


<context-param>
<description>로깅 여부</description>
<param-name>logenabled</param-name>
<param-value>true</param-value>
</context-param>

<context-param>
<description>디버깅 레벨</description>
<param-name>debugLevel</param-name>
<param-value>5</param-value>
</context-param>

<error-page>
<error-code>404</error-code>
<location>/chap03/error404.jsp</location>
</error-page>

<jsp-config>
 <jsp-property-group>
 	<url-pattern>/chap07/autoinclude/*</url-pattern>
 	<include-prelude>/chap07/autoinclude/common.jsp</include-prelude>
 	<include-coda>/chap07/autoinclude/footer.jsp</include-coda>
 </jsp-property-group>
</jsp-config>



<context-param>
<param-name>javax.servlet.jsp.jstl.fmt.timeZone</param-name>
<param-value>Hongkong</param-value>
</context-param>


</web-app>